body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    position: relative;
}
body > * {
    position: relative;
    z-index: 2;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/static/img/R.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.login-container {
    width: 100%;
    max-width: 400px;
    border-radius: 1.5rem !important;
    box-shadow: 0 10px 30px rgba(0, 123, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

.logo-main {
    max-height: 50px;
}
.logo-secondary {
    max-height: 35px;
    opacity: 0.7;
}

.btn-primary:hover {
    background-color: #0056b3;
}
